

<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Outside Traders</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load staticfiles %}
  		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  		<link rel="stylesheet" href="/static/main/css/bootstrap.min.css">
		<!--<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
		<script src="{% static 'js/vendor/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
		<style>
		    footer {
		    	background-color: #555;
		    	color: white;
		    	padding: 0.01px;
		    }
		</style>

	</head>

	<!--<body class="body" style="background-color:#f6f6f6">-->
	<body>
		<!--<div>-->
			<!--{% block content %}-->
			<!--{% endblock %}-->
		<!--</div>-->

		<main role="main">

			<div class="jumbotron">
				<div class="container">
				  <h1 class="display-3">OUTSIDE TRADERS</h1>
				  <p class="lead">This simple program predicts stock price every 10 minutes using various variables</p>
				  <p class="lead">
				  	<a class="btn btn-primary btn-lg" href="#" role="button">To Performance Page &raquo;</a>
				  </p>
				</div>
			</div>
			    
		<div class="container">
	        <!-- Three columns of project contributors -->
	        <div class="row">

	          <div class="col-lg-4">
		            <img class="img-responsive" src="{% static 'main/img/ki.jpg' %}" alt="Generic placeholder image" width="140" height="140">
		            <h2>Hyunki Kim</h2>
		            <p>I love soccer!</p>
	          </div><!-- /.col-lg-4 -->

	          <div class="col-lg-4">
		            <img class="img-responsive" src="{% static 'main/img/jessica.jpg' %}" alt="Generic placeholder image" width="140" height="140">
		            <h2>Jessica Song</h2>
		            <p>I love Disney store!</p>
	          </div><!-- /.col-lg-4 -->

	          <div class="col-lg-4">
		            <img class="img-responsive" src="{% static 'main/img/wei.jpg' %}" alt="Generic placeholder image" width="140" height="140">
		            <h2>Weiwei Zheng</h2>
		            <p>I love Ki! LoL</p>
	          </div><!-- /.col-lg-4 -->
	        </div><<hr><!-- /.row -->

	    </div><!-- /container -->

		</main>


		<footer class="container">
			<p>CAPP 30122 Winter2018</p>
		</footer>

	</body>

</html>